@import "~bootstrap/scss/bootstrap.scss";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import './inc/variable';
@import './inc/mixins';
@import './inc/global';
@import './inc/fonts';

/* latin-ext */
@font-face {
    font-family: 'Abril Fatface Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/AbrilFatfaceBold/AbrilFatface-Regular.woff') format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
