
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;600&display=swap');

//fonts
$font-base: 'Albert Sans', sans-serif;
$font-secondary: 'Abril Fatface Bold';

//colors
$color-white: #fff;
$color-black: #060606;
$color-black2: #292929;
$color-grey: #B6B6B6;
$color-grey2: #828282;

$color-brand: #b38d3c;

//font-weight
$extra-light: 200;
$normal: 400;
$semi-bold: 600;

$transition: all 0.3s ease-in-out;

//screen size
$screen-sm: 640px;
$screen-md: 744px;
$screen-lg: 1024px;
$screen-xl: 1200px;
$screen-2xl: 1400px;
$screen-3xl: 1600px;
$screen-4xl: 1800px;